@import "_normalize.scss";
@import "_variable.scss";
@import "_base.scss";

.link-style {
  color: $color-key;
  text-decoration: none;
  &:hover {
    color: darken($color-key, 15%);
  }
}

.blog-post-styling > * > a {
  color: $color-key;

  &:hover {
    color: darken($color-key, 15%);
  }
}

.blog-post-styling > p > * > a {
  color: $color-key;

  &:hover {
    text-decoration: none;
    color: darken($color-key, 15%);
  }
}

.pagination {
  display: block;
}

.btn-pagination {
  padding-bottom: 3em;
}

.btn-pagination-right {
  float: right;
}
