// Webフォントの読み込み表示
.wf-loading {
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

// ベース
html {
  font-size: 17px;
}
body {
  font-family: ten-mincho, serif;
  font-feature-settings: "palt";
  color: $color-txt;
  line-height: 2.2;
  letter-spacing: .08rem;
  word-break: break-word;
}
li {
  line-height: 1.8;
}

// ヘッダー
.c-header {
  margin: 1.4rem auto;
  max-width: 42rem;
  background-color: $color-bg-whiter;
}
.c-header-title {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0 0 0 2rem;
  line-height: 1.4;
  font-family: alana, sans-serif;
  font-size: 4rem;
  a {
  color: $color-key;
  text-decoration: none;
  filter: blur(0);
  transition: $ease-out-slow;
    &:hover {
      filter: blur(.1em);
    }
    &:active {
      filter: blur(.5em);
    }
  }
}
.c-header-subtitle {
  display: inline-block;
}

// コンテンツ
.c-body {
  padding: 1.4rem 0;
  background-color: $color-bg-light;
}
.c-body-container {
  margin: 1.4rem auto 0;
  max-width: 42rem;
}
.c-body-post-title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
}
.c-body-post-description {
  margin: .8rem 0 0;
  font-size: .86rem;
  color: $color-txt-light;
}

// メニュー
.c-menu{
  margin: 5rem auto 0;
  max-width: 38rem;
  border-top: 1px solid $color-border;
}
.c-menu-taxonomy {
  display: flex;
  border-bottom: 1px solid $color-border;
}
.c-category-list, .c-tag-list {
  margin: 0;
  padding: .8rem;
  font-size: .8rem;
  list-style: none;
  a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-style: italic;
    &:hover {
      color: darken($color-key, 15%);
      background: $color-bg-white;
    }
  }
}
.c-category-list {
  a {
    font-weight: bold;
    color: $color-key;
  }
}
.c-tag-list {
  display: inline-block;
  border-left: 1px solid $color-border;
  a {
    margin: 0;
    padding: .8rem;
    color: $color-txt-light;
    &::before {
      content: "#";
      display: inline;
    }
  }
}
.c-tag-list-item {
  display: inline-block;
}
.c-menu-pager {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
  li {
    position: relative;
    width: 8rem;
    text-align: center;
    list-style: none;
    a {
      display: block;
      padding: .8rem 1.4rem;
      text-decoration: none;
      color: $color-txt-light;
      &:hover {
        color: darken($color-key, 15%);
        background: $color-bg-white;
      }
    }
  }
}
.c-menu-pager-newer, .c-menu-pager-older {
  a::before {
    content: "";
    position: absolute;
    top: 1.6rem;
    width: .4rem;
    height: .4rem;
    border-top: 2px solid $color-key;
    border-right: 2px solid $color-key;
  }
}
.c-menu-pager-newer a {
  padding: .8rem 2.4rem .8rem 1.4rem;
  &::before {
    right: 1rem;
    transform: rotate(45deg);
  }
}
.c-menu-pager-older a {
  padding: .8rem 1.4rem .8rem 2.4rem;
  &::before {
    left: 1rem;
    transform: rotate(-135deg);
  }
}

// フッター
.c-footer {
  margin: 1.4rem auto;
  padding: 0 1.4rem;
  max-width: 42rem;
  font-size: 80%;
  text-align: center;
  color: $color-txt-light;
}

// 記事一覧
.list{
  .c-body-post {
    position: relative;
    overflow: hidden;
    padding: 2rem;
    line-height: 1.6;
    transition: $ease-out-slow;
    &::before {
      content: "read more ...";
      position: absolute;
      display: block;
      bottom: 0;
      right: -100%;
      width: 100%;
      padding: .2em 1em;
      font-size: .9em;
      color: #fff;
      background: $color-key;
      opacity: 0;
      transition: $ease-out-slower;
    }
    &::after{
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $color-bg-white;
      transition: $ease-out-slow;
    }
    .c-body-post-title {
      transition: $ease-out-slow;
    }
    &:hover {
      .c-body-post-title {
        color: $color-key;
      }
      &::before {
        right: -86%;
        opacity: .6;
      }
      &::after {
        left: 100%;
      }
    }
    time {
      font-size: .8rem;
      color: $color-txt-lighter;
    }
    .more{
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .link-style{
        display: block;
        width: 100%;
        height: 100%;
        color: transparent;
      }
    }
  }
  .c-menu {
    margin: 2.8rem auto;
  }
  .c-menu-pager {
    justify-content: center;
  }
}
.p-list-title {
  margin: 0 2rem .8rem;
  font-size: 1rem;
  border-bottom: 1px solid;
}

// カテゴリ・タグ一覧
.terms{
  .c-body-post {
    &:hover {
      background: transparent;
    }
  }
}

// 記事詳細
.single {
  .c-header-title {
    animation: none;
  }
  .c-body-post {
    padding: 0 2rem;
    header {
      margin: 3rem 0;
    }
  }
  .c-body-post-title {
    margin: 0;
  }
  time {
    font-size: 80%;
    color: $color-txt-lighter;
  }
  .entry {
    h1 {
      line-height: 1.4;
    }
    ul {
      padding: 0 0 0 1.4rem;
    }
    img {
      max-width:100%;
      margin: .8rem 0;
      height:auto;
      border: 1px solid $color-border-light;
      box-sizing: border-box;
      vertical-align: bottom;
    }
    code {
      font-size: 80%;
      margin: 0 .4rem;
      padding: 0 .4rem;
      border: 1px solid $color-border;
      background: $color-bg-gray;
      border-radius: 3px;
      font-family: Monaco,Consolas,Courier New,Courier,monospace,sans-serif;
      letter-spacing: normal;
    }
    strong {
      background: linear-gradient(transparent 87%,rgba(243,103,119,.5) 30%)
    }
  }
}
