// Webフォントの読み込み表示
.wf-loading {
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

// ベース
body {
  font-family: ten-mincho, serif;
  font-feature-settings: "palt";
  font-size: 18px;
  color: $color-txt;
  line-height: 1.8;
  letter-spacing: .08em;
}

// ヘッダー
.blog-head {
  margin: 1.4em auto;
  max-width: 42rem;
  background-color: $color-bg-white;
}
.blog-title {
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0 0 0 1.4rem;
  line-height: 1.4;
  font-family: alana, sans-serif;
  font-size: 4em;
}
.blog-subtitle {
  display: inline-block;
}

// コンテンツ
.blog-body {
  padding: 1.4em 0;
  background-color: $color-bg-light;
}
.blog-post-container {
  margin: 1.4em auto;
  max-width: 42rem;
}
.blog-post h1 {
  font-size: 1.6em;
}

// 記事一覧
.index .blog-post {
  position: relative;
  padding: 1.4em;
  line-height: 1.6;
  &:hover {
    background: $color-bg-white;
  }
  h1 {
    margin: 0;
    line-height: 1.4;
  }
  time {
    font-size: 80%;
    color: $color-txt-light;
  }
  p {
    margin: .8em 0 0;
    font-size: 90%;
  }
  .more{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .link-style{
      display: block;
      width: 100%;
      height: 100%;
      color: transparent;
    }
  }
}

// 記事詳細
.single .blog-post {
  padding: 0 1.4em;
  h1 {
    line-height: 1.4;
  }
  time {
    font-size: 80%;
    color: $color-txt-light;
  }
  p {
    text-align: justify;
  }
  ul {
    padding: 0 0 0 1.4em;
  }
}

// グローバルナビ
.groval-nav{
  margin: 0 auto 1.4em;
  max-width: 42rem;
}
.groval-nav ul {
  padding: 0;
  li {
    list-style: none;
    a {
      display: block;
      padding: .8em 1.4em;
      height: 100%;
      text-decoration: none;
      color: $color-key;
      &:hover {
        color: darken($color-key, 15%);
        background: $color-bg-white;
      }
    }
  }
}

// フッター
.blog-footer {
  margin: 1.4em auto;
  padding: 0 1.4em;
  max-width: 42rem;
  font-size: 80%;
  text-align: center;
  color: $color-txt-light;
}
