// small display
@media only screen and (max-width: 420px){
  .c-header-title {
    padding: 0 0 0 1.4rem;
  }
  .p-list-title {
    margin: 1.4rem;
  }
  .c-body-post-title {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .c-menu-taxonomy {
    flex-flow: column;
    .c-category-list {
      text-align: center;
      border-bottom: 1px solid $color-border;
      a {
        padding: .8rem;
      }
    }
    .c-tag-list {
      padding: 0;
      border: none;
    }
  }
  .c-menu-pager {
    li {
      width: 6rem;
      a {
        padding: .8rem .4rem;
      }
    }
    .c-menu-pager-newer a {
      padding: .8rem 1.4rem .8rem .4rem;
      &::before {
        right: .8rem;
      }
    }
    .c-menu-pager-older a {
      padding: .8rem .4rem .8rem 1.4rem;
      &::before {
        left: .8rem;
      }
    }
  }
  .list {
    .c-body-post {
      padding: .6rem 1.4rem;
    }
    .c-body-post-title {
      font-size: 1.2rem;
    }
    time {
      font-size: .8rem;
    }
    .c-body-post-description {
      display: none;
    }
  }
  .single {
    .c-body-post{
      padding: 0 1.4rem;
    }
  }
}
