$color-key: #f36777;

$color-txt: #333;
$color-txt-light: #666;
$color-txt-lighter: #999;

$color-border: #ddd;
$color-border-light: #eee;

$color-bg-whiter: #fff;
$color-bg-white: rgba(255,255,255,.6);
$color-bg-light: #f8f8f8;
$color-bg-gray: #eee;

$ease-in-out: .14s ease-in-out;
$ease-in: .1s ease-in;
$ease-out: .1s ease-out;
