{{ partial "head" . }}
<body class="single">
  <header class="c-header">
      <p class="c-header-title"><a class="link-style" href="{{ .Site.BaseURL }}">6z</a></p>
      <p class="c-header-subtitle">by <a href="https://twitter.com/rokuzeudon">@rokuzeudon</a></p>
  </header>
  <main class="c-body">
    <div class="c-body-container">
      <article class="c-body-post">
        <h1 class="c-body-post-title">{{ .Title }}</h1>
        <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006.01.02" }}</time>
        {{ .Content }}
      </article>
    </div>
    <nav class="c-menu">
      <ul class="c-menu-pager">
        <li class="c-menu-pager-newer">
          {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </li>
        <li class="c-menu-pager-home"><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li class="c-menu-pager-older">
          {{ if .Next }}
          <a href="{{ .Next.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </li>
      </ul>
    </nav>
  </main>
  {{ partial "footer" . }}
</body>
