{{ partial "head" . }}
{{ $baseurl := .Site.BaseURL}}
<body class="list terms">
  <header class="c-header">
    <p class="c-header-title"><a class="link-style" href="{{ .Site.BaseURL }}">6z</a></p>
    <p class="c-header-subtitle">by <a href="https://twitter.com/rokuzeudon">@rokuzeudon</a></p>
  </header>
  <main class="c-body">
    <div class="c-body-container">
      <h1 class="p-list-title">{{ .Title }}</h1>
      <article class="c-body-post">
        <section class="entry">
          <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms }}
            <li><a href="{{ $baseurl }}/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})</li>
            {{ end }}
          </ul>
        </section>
      </article>
    </div>
  </main>
  {{ partial "footer" . }}
</body>
