<!DOCTYPE html>
<html>
<head>
  {{ with .Title | default .Site.Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}" />
  <meta name="twitter:title" content="{{ . }}" />
  {{ end }}

  {{ with .Description | default .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  <meta name="twitter:description" content="{{ . }}">
  {{ end }}

  <meta name="author" content="{{ .Site.Params.author }}"/>
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  {{ with .Params.thumbnail }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
  {{ end }}
  <meta name="twitter:card" content="summary" />

  {{ with .Site.Params.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
  {{ end }}

  {{ if .IsPage }}
  <meta property="og:type" content="article" />
  {{ with .Site.Params.facebook }}
  <meta property="og:article:author" content="https://facebook.com/{{ . }}" />
  {{ end }}
  {{ else }}
  <meta property="og:type" content="website" />
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="/">
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">

  <!-- Typekit -->
  <script>
    (function(d) {
      var config = {
        kitId: 'mct0npf',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56512489-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56512489-5');
  </script>


</head>
