<!DOCTYPE html>
<html>
<head>
    <title>6z</title>
    <!--CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .Site.BaseURL }}/css/lunacy.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/font-awesome.min.css" rel="stylesheet">
    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Yantramanav:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
