{{ partial "head" . }}
<body class="single">
  <header class="c-header">
      <p class="c-header-title"><a class="link-style" href="{{ .Site.BaseURL }}">6z</a></p>
      <p class="c-header-subtitle">by <a href="https://twitter.com/rokuzeudon">@rokuzeudon</a></p>
  </header>
  <main class="c-body">
    <div class="c-body-container">
      <article class="c-body-post">
        <h1 id="title">404 Not Found</h1>
        <p>ページが見つかりませんでした。<br>URLが変更または削除された可能性があります。</p>
      </article>
      {{ partial "nav" . }}
    </div>
  </main>
  {{ partial "footer" . }}
</body>
