{{ partial "header" . }}
            <!--Blog post iterator-->
            <div class="blog-post-container col-xs-12 col-sm-10 col-sm-offset-1">
                {{ range (.Paginator 5).Pages }}
                <!--Blog post-->
                <div class="blog-post wrap">
                    <h1 class="title-font wrap"><a  class="link-style" href="{{ .Permalink }}">{{ .Title }}</a></h1><br>
                    <div class=" div-border">
                        <h5 class="title-font wrap">{{ .Date.Format "January 2, 2006" }}</h5><br>
                        <p class="text-hover-gray text-font descr-font wrap">{{ .Description | markdownify }}&hellip;</p><br>
                        <p class="read-font"><a class="link-style arrow-translate" href="{{ .Permalink }}">Read more<i class="fa fa-fw fa-angle-right"></i></a></p>
                    </div>
                </div><br>
                {{ end }}
                <!--Pagination-->
                <div style="margin-top:2em;padding-bottom:6em;">
                    <div class="col-xs-6">
                        <!--Prev page-->
                        {{ if .Paginator.HasPrev }}
                        <a class="link-style btn-pagination arrow-translate-left" href="{{ .Paginator.Prev.URL }}"><i class="fa fa-angle-left"></i> PREV PAGE</a>
                        {{ end }}
                    </div>
                    <div class="col-xs-6" style="text-align:right;padding-right:2px">
                        <!--Next page-->
                        {{ if .Paginator.HasNext }}
                        <a class="link-style btn-pagination arrow-translate" href="{{ .Paginator.Next.URL }}">NEXT PAGE<i class="fa fa-fw fa-angle-right"></i></a>
                        {{ end }}
                    </div>
                </div>
            </div>
            <!--mobile navigation-->
            <div class="visible-xs col-xs-10 col-xs-offset-1 mobile-navigation">
                <h4>
                    <a class="link-style" href="{{ .Site.BaseURL }}">
                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                        Home
                    </a>
                </h4>
            </div>
{{ partial "footer" . }}
