{{ partial "head" . }}
<body class="index">
  <header class="c-header">
      <h1 class="c-header-title"><a class="link-style" href="{{ .Site.BaseURL }}">6z</a></h1>
      <p class="c-header-subtitle">by <a href="https://twitter.com/rokuzeudon">@rokuzeudon</a></p>
  </header>
  <main class="c-body">
      <div class="c-body-container">
          {{ range (.Paginator 5).Pages }}
          <!--Blog post-->
          <article class="c-body-post">
              <h2 class="c-body-post-title">{{ .Title }}</h2>
              <p class="c-body-post-description">{{ .Description | markdownify }}</p>
              <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006.01.02" }}</time>
              <p class="more"><a class="link-style" href="{{ .Permalink }}">続きを読む</a></p>
          </article>
          {{ end }}
          <!--Pagination-->
          <nav class="pager">
              <div>
                  {{ if .Paginator.HasPrev }}
                  <a class="link-style btn-pagination" href="{{ .Paginator.Prev.URL }}">過去の記事へ</a>
                  {{ end }}
              </div>
              <div>
                  {{ if .Paginator.HasNext }}
                  <a class="link-style btn-pagination" href="{{ .Paginator.Next.URL }}">新しい記事へ</a>
                  {{ end }}
              </div>
          </nav>
      </div>
      {{ partial "nav" . }}
  </main>
  {{ partial "footer" . }}
</body>
